---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FFF;
$background-color: #FFF;
$body-bg:          $background-color;

$brand-color:      #29255F;
$secondary-color:  #Bf1E55;
$uva-color:        #FF981E;

// import bootstrap
@import "bootstrap";
@import "full_page";

// import custom styles
@import "layout";
@import "sections";
