---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #DA4167;
$background-color: #F0EFF4;
$brand-color:      #DA4167;
$body-bg:          $background-color;

$secondary-color:  #3D2645;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// import bootstrap
@import "bootstrap";

// import custom styles
@import "layout";
@import "sections";
