<footer>
  <ul class="sm clearfix">
    <li class="github">
      <a
        href="https://github.com/ychaker"
        title="Youssef's Github"
        target="_blank"
      >
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="twitter">
      <a
        href="https://twitter.com/ychaker"
        title="Youssef's Twitter"
        target="_blank"
      >
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="email">
      <a
        href="mailto:youssef@bearandgiraffe.com"
        title="Youssef's Email"
        target="_blank"
      >
        <i class="fa fa-envelope"></i>
      </a>
    </li>
  </ul>
</footer>
