.four-o-four header {
  background-image: url('/images/logo-sad-face.png');

  .logo-full {
    display: none;
  }
}

#four-o-four {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, $secondary-color 50%, $brand-color 50%);

  h1 {
    background-color: $brand-color;
    display:          inline-block;
    font-size:        $font-size-h1;
    letter-spacing:   2.7px;
    line-height:      1em;
    margin:           0;
    padding:          15px 20px;

    @include border-radius(10px);

    @media (max-width: $screen-xs-max) {
      @include border-radius(5px);

      font-size: $font-size-h1 / 2;
    }
  }

  h2 {
    background-color: $secondary-color;
    display:          inline-block;
    font-size:        $font-size-h2;
    letter-spacing:   2.7px;
    line-height:      1em;
    margin:           6px 0 0;
    padding:          15px 20px;

    @include border-radius(10px);

    @media (max-width: $screen-xs-max) {
      @include border-radius(5px);

      font-size: $font-size-h2 / 2;
    }
  }

  h3 {
    background-color: $brand-color;
    display:          inline-block;
    font-size:        $font-size-h3;
    letter-spacing:   2.7px;
    line-height:      1em;
    margin:           6px 0 0;
    padding:          15px 20px;

    @include border-radius(10px);

    @media (max-width: $screen-xs-max) {
      @include border-radius(5px);

      font-size: $font-size-h2 / 2;
    }
  }

  .section-header {
    left:       calc(50% - 237px);
    position:   fixed;
    text-align: center;
    top:        calc(50% - 99px);

    @media (max-width: $screen-xs-max) {
      left: calc(50% - 177px);
      top:  calc(50% - 77px);
    }
  }
}
