.section {
  background-repeat: no-repeat;
  background-size:   cover;
}

#home {
  background-color: $brand-color;
}

#who {
  background-color: #FFF;
}

#traveler {
  background-color: $secondary-color;
}

#uva {
  background-color: $uva-color;
}
