#home {
  text-align: center;

  h1 {
    font-size: 4em;
    font-weight: bold;
  }
}

pre,
code {
  background-color: $secondary-color;
  color: $text-color;
}

#who {
  h1 {
    margin-top: 0;
  }

  h2 {
    color: $secondary-color;
    font-size: 2em;
    margin-top: 0;
  }
}

.bio-sm {
  text-align: center;

  i.fa {
    font-size: 2em;

    &:hover {
      color: lighten($secondary-color, 20%);
    }
  }
}
